.navbar {
  margin-bottom: 7rem;
}

    :root{
      margin:auto;
      /*margin:50px 400px 50px 400px;*/
      max-width:100%;
    }
    
    
    .h1{
      text-align: center;
      background-color:transparent;
      color:#000;
      font-family:Arial, Helvetica, sans-serif;
      font-weight:300;
      font-size:15px;
      max-width:100%;
    }


    
body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.leaflet-container{
  width: 70rem;
  height: 30rem;
}

.container {
  line-height: 4;
  text-align: center
}

.accordion {
  font-size: 1.5rem;
}

.card-header:first-child {
  background-color: #282c34;
  border-radius: 15px 50px 30px 5px;
  border-bottom: 0;
}

.card-header {
  color: whitesmoke;
} 
